# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pickle
backend/.env
backend/credentials.json

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
*.txt
api-key.txt